@import url('https://fonts.googleapis.com/css2?family=Manrope');

.transition-duraion {
	font-family: "Manrope", sans-serif;

	transition: all 1s ease;
	/* Standard syntax */
	-webkit-transition: all 1s ease;
	/* For Chrome and Safari */
	-moz-transition: all 1s ease;
	/* For Firefox */
	-o-transition: all 1s ease;
}

::-webkit-scrollbar {
	width: 0;
}

/* ↓ Minimal Switch -------------------- */

input:checked+.minimal-slider:before {
	-webkit-transform: translateX(15px);
	-ms-transform: translateX(15px);
	transform: translateX(15px);
}

/*------------------------- mobile menu */

/* Variables */
:root {
	--hamburger-menu-height: 21px;
	--hamburger-icon-height: 3px;
	--hamburger-icon-rotate-deg: 45deg;
}

.menu-trigger:checked~.hamburger-menu span:nth-child(1) {
	transform: translateY(calc((var(--hamburger-menu-height) / 2) - (var(--hamburger-icon-height) / 2))) rotate(var(--hamburger-icon-rotate-deg));
}

.menu-trigger:checked~.hamburger-menu span:nth-child(2) {
	transform: scale(1, 0) translateX(-100%);
}

.menu-trigger:checked~.hamburger-menu span:nth-child(3) {
	transform: translateY(calc(-1 * (var(--hamburger-menu-height) / 2) + (var(--hamburger-icon-height) / 2))) rotate(calc(-1 * var(--hamburger-icon-rotate-deg)));
}

/*menu--small screens */
@media screen and (max-width: 1000px) {
	.menu-trigger:checked+.overlay {
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		background-color: rgba(0, 0, 0, 0.312);
		width: 100%;
		height: 100%;
		transition: none;
	}
}
.red{
	transform: scale();
	transition: all;
	transition-duration: 0.2s;
	color: #ff6464;
	letter-spacing: .2px;
}


